<mat-expansion-panel [expanded]="organisation.displayIndex === 0" (opened)="setActivePanel(organisation.displayIndex)" 
(closed)="setActivePanel(-1)" >
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{organisation.organisation}}  <span *ngIf="organisation.displayIndex===openIndex">- {{organisation.date}}</span> 
    </mat-panel-title>
   
  </mat-expansion-panel-header>

<mat-form-field class="comments">
    <textarea rows="5" [(ngModel)]="organisation.comments" matInput placeholder="Enter notes here"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="saveNotes()">Save Notes</button>
</mat-expansion-panel>







