<table mat-table [dataSource]="sortedData" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
    
    
  <ng-container matColumnDef="busId">
  <th mat-header-cell *matHeaderCellDef mat-sort-header > Bus ID </th>
  <td mat-cell *matCellDef="let element"> {{element.busId}} </td>
  </ng-container>
  
  <!-- Name Column -->
  <ng-container matColumnDef="routeVariant">
  <th mat-header-cell *matHeaderCellDef> Route Variant </th>
  <td mat-cell *matCellDef="let element"> <b>{{element.routePart1}}</b> {{element.routePart2}}</td>
  </ng-container>
  
  <!-- Weight Column -->
  <ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
  <td mat-cell *matCellDef="let element"><span class="status_{{element.color}}">{{element.status}}</span>  </td>
  </ng-container>
  
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   </table>
  